In [51]:
import pandas as pd
import json

from pandas import json_normalize

In [43]:
import pandas as pd

df = pd.read_json('/content/DataEngineeringQ2.json')

In [45]:
#df = df.explode(['patientDetails', 'consultationData.medicines'])

In [36]:
with open('/content/DataEngineeringQ2.json', 'r') as file:
    data = json.load(file)

patient_details = [entry['patientDetails'] for entry in data]
df = pd.DataFrame(patient_details)

In [57]:
patient_details = [entry['patientDetails'] for entry in data]
consultation_data = [entry['consultationData'] for entry in data]

In [58]:
df_patient_details = pd.DataFrame(patient_details)
df_consultation_data = pd.DataFrame(consultation_data)

In [59]:
df_patient_details['gender'].replace('', pd.NA, inplace=True)
mode_gender = df_patient_details['gender'].mode()[0]
df_patient_details['gender'].fillna(mode_gender, inplace=True)

In [25]:
df['gender'].replace('', pd.NA, inplace=True)
mode_gender = df['gender'].mode()[0]
df['gender'].fillna(mode_gender, inplace=True)

In [26]:
df.head()

,_id,firstName,lastName,emailId,gender,alternateContact,birthDate,phrId,chat,customId
0,T6hb630b3,Css,,,M,,None,NaN,NaN,NaN
1,T6h33b300,Lokesh,,,M,NaN,1996-05-16T18:30:00.000Z,NaN,NaN,NaN
2,TjhB4373,Shila,Das,,M,NaN,NaN,63b5hvy614d5,NaN,NaN
3,6df4R5b,Bhavika,Ben Panchal,,F,NaN,1988-04-24T14:30:00.000Z,644nig7y,NaN,NaN
4,lK9hy06a,Raghu Viju,,,M,,NaN,NaN,NaN,NaN

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               31 non-null     object
 1   firstName         31 non-null     object
 2   lastName          31 non-null     object
 3   emailId           30 non-null     object
 4   gender            31 non-null     object
 5   alternateContact  9 non-null      object
 6   birthDate         21 non-null     object
 7   phrId             8 non-null      object
 8   chat              16 non-null     object
 9   customId          16 non-null     object
dtypes: object(10)
memory usage: 2.5+ KB

In [28]:
print(df)

                       _id                 firstName     lastName emailId  \
0                T6hb630b3                       Css
1                T6h33b300                    Lokesh
2                 TjhB4373                     Shila          Das
3                  6df4R5b                   Bhavika  Ben Panchal
4                 lK9hy06a                Raghu Viju
5                  kI9d5c6              Dinesh Kumar
6                 i9R324b7                     Lalit     Sankhwal
7   T6h41b5ad3d8002ad9c3c4                      Ravi
8                 T9Iy347e                    Dinesh
9                  T4Rb1a2                    Sanjay
10                Tr4T2173                    Akshay       Akshay
11                  T6Wa50                   Nirmala
12                 65sRa36                    Satish
13                 UG67231                Kalaiarasi   Kalaiarasi
14                 E4u5Ea2              Satyanaaryan
15                 T4E7Ge6                   Nivitha
16                 04Re22d                    Tejpal
17                u7dWa589                  Nandhini
18                 TU7e913                  Dhanamma
19                 H8s2d40                    Kushal
20                   u9cd6                    Daniya        Zehra
21                 Pdh97S6                       Jay       Sharma
22               h02U8a781                   Preethi
23  T6h40a5ad3d8002ad9c06a  VITTHAL SHANKARRAO GHATE                  NaN
24                  Y7sHec                    Naresh
25   T6h408981ayf32b63bcfa                    Suresh      Gaikwad
26                T6U67af9                 Govardhan
27                 R53Et5W                Rajeshwari
28                dE3r$2b5                   Santosh
29                 TI93Hd5                 Tarachand
30                 Pdh97S6                       Jay       Sharma

   gender alternateContact                 birthDate         phrId  \
0       M                                       None           NaN
1       M              NaN  1996-05-16T18:30:00.000Z           NaN
2       M              NaN                       NaN  63b5hvy614d5
3       F              NaN  1988-04-24T14:30:00.000Z      644nig7y
4       M                                        NaN           NaN
5       M              NaN  1983-05-16T18:30:00.000Z           NaN
6       M                   2003-06-27T14:30:00.000Z      67Yt2b97
7       M              NaN                       NaN           NaN
8       M              NaN  1983-05-16T18:30:00.000Z           NaN
9       M              NaN  1998-05-16T18:30:00.000Z           NaN
10      M              NaN  1988-04-08T00:00:00.000Z       6E48U79
11      F              NaN  1971-05-16T18:30:00.000Z           NaN
12      M              NaN  1970-05-16T18:30:00.000Z           NaN
13      F                   1997-07-31T00:00:00.000Z       T6a7231
14      M                                        NaN           NaN
15      F              NaN  1997-05-16T18:30:00.000Z           NaN
16      M              NaN  1972-05-16T18:30:00.000Z           NaN
17      F              NaN  2001-05-16T18:30:00.000Z           NaN
18      F              NaN                       NaN           NaN
19      M              NaN                       NaN           NaN
20      F              NaN  2001-08-27T00:00:00.000Z    6463U8s231
21      M              NaN  1998-11-19T23:30:00.000Z       Jus0480
22      F              NaN  1996-05-16T18:30:00.000Z           NaN
23      M    +917797689682                       NaN           NaN
24      M              NaN  1992-05-16T18:30:00.000Z           NaN
25      M                                        NaN           NaN
26      M                                        NaN           NaN
27      F              NaN  1999-05-16T18:30:00.000Z           NaN
28      F              NaN  1972-05-16T18:30:00.000Z           NaN
29      M                   1980-03-22T18:30:00.000Z           NaN
30      M              NaN  1991-11-19T23:30:00.000Z       Jus0480

                                           chat      customId
0                                           NaN           NaN
1                                           NaN           NaN
2                                           NaN           NaN
3                                           NaN           NaN
4                                           NaN           NaN
5                           {'_id': '09hUb5c7'}  3FPEUCW8HACJ
6                                           NaN           NaN
7             {'_id': 'T6h41b5ad3d8002ad9c3c5'}  8AV4ICI5I389
8                           {'_id': 'T9IsT37f'}  0308MSAHYR8K
9                           {'_id': '7Yd9b1a3'}  8S7A3D4K4WZH
10  {'_id': 'Tr4W174', 'channelId': '9IrR9ce7'}  83AH0K04SSTV
11            {'_id': 'T6h3635ad3d8002ad9b001'}  832ZIS6ZCAHH
12                            {'_id': '6Y6a36'}  YW883CARSES3
13                                          NaN           NaN
14                           {'_id': 'E4u5Ea2'}       E4u5Ea2
15                                          NaN           NaN
16                           {'_id': '04Re22d'}       04Re22d
17                                          NaN           NaN
18                         {'_id': 'u8e6fgd14'}       y7ewr5w
19                                          NaN           NaN
20                                          NaN           NaN
21                                          NaN           NaN
22                          {'_id': 'T6h9a782'}     H8NdI3MAW
23            {'_id': 'T6h40a1becc5002908b235'}  83AAWWI24W63
24                                          NaN           NaN
25                           {'_id': 'Hsb690S'}      ABCD1419
26                         {'_id': 'u7sg9be5a'}       Gya7sfw
27                      {'_id': 'T6h2fT5535c6'}      K44RwH0T
28                                          NaN           NaN
29                           {'_id': 'TH8W2d6'}       90hjdX2
30                                          NaN           NaN

In [29]:
female_percentage = (df['gender'] == 'female').mean() * 100
female_percentage = round(female_percentage, 2)
print(female_percentage)

0.0

In [30]:
from datetime import datetime

df['birthDate'] = pd.to_datetime(df['birthDate'], errors='coerce')
current_date = datetime.now()

df['age'] = df['birthDate'].apply(lambda x: current_date.year - x.year if pd.notnull(x) else None)

In [31]:
def categorize_age(age):
    if age is None:
        return 'Unknown'
    elif age <= 12:
        return 'Child'
    elif age <= 19:
        return 'Teen'
    elif age <= 59:
        return 'Adult'
    else:
        return 'Senior'

df['ageGroup'] = df['age'].apply(categorize_age)

In [32]:
adult_count = df[df['ageGroup'] == 'Adult'].shape[0]
print(adult_count)

21

In [33]:

consultation_data = [entry['consultationData'] for entry in data]

df_patient_details = pd.DataFrame(patient_details)
df_consultation_data = pd.DataFrame(consultation_data)

In [34]:
df_consultation_data['num_medicines'] = df_consultation_data['medicines'].apply(lambda x: len(x))

In [35]:
average_medicines = df_consultation_data['num_medicines'].mean()
average_medicines = round(average_medicines, 2)
print(average_medicines)

2.13

In [61]:
df_consultation_data = df_consultation_data.explode('medicines', ignore_index=True)
df_medicines = json_normalize(df_consultation_data['medicines'])

In [68]:
df_medicines = pd.DataFrame({
    'phoneNumber': ['+919876787687', '919877475896', '+913454768688', '9876787687', '3454768688', '57769666']
})

def is_valid_indian_phone_number(phone_number):
    phone_number = phone_number.strip()

    if phone_number.startswith('+91'):
        phone_number = phone_number[3:]
    elif phone_number.startswith('91'):
        phone_number = phone_number[2:]

    if len(phone_number) == 10 and phone_number.isdigit():
        number = int(phone_number)
        return 6000000000 <= number <= 9999999999
    else:
        return False

df_medicines['isValidMobile'] = df_medicines['phoneNumber'].apply(is_valid_indian_phone_number)

valid_phone_count = df_medicines['isValidMobile'].sum()
print(f"Number of valid phone numbers found: {valid_phone_count}")

print(df_medicines)

Number of valid phone numbers found: 3
     phoneNumber  isValidMobile
0  +919876787687           True
1   919877475896           True
2  +913454768688          False
3     9876787687           True
4     3454768688          False
5       57769666          False

In [74]:
df_consultation_data = df_consultation_data.explode('medicines', ignore_index=True)
df_medicines = json_normalize(df_consultation_data['medicines'])

df_consultation_data['num_medicines'] = df_consultation_data['medicines'].apply(lambda x: len(x) if isinstance(x, list) else 0)

df_combined = df_patient_details.join(df_consultation_data[['num_medicines']], how='inner')

df_combined['birthDate'] = pd.to_datetime(df_combined['birthDate'], errors='coerce')
current_date = datetime.now()
df_combined['age'] = df_combined['birthDate'].apply(lambda x: current_date.year - x.year if pd.notnull(x) else None)

df_combined = df_combined.dropna(subset=['age', 'num_medicines'])

correlation = df_combined[['age', 'num_medicines']].corr().loc['age', 'num_medicines']
correlation_rounded = round(correlation, 2)

In [75]:
print(correlation_rounded)

nan

In [77]:
df_consultation_data = pd.DataFrame(consultation_data)

df_consultation_data = df_consultation_data.explode('medicines', ignore_index=True)
df_medicines = json_normalize(df_consultation_data['medicines'])

if 'status' in df_medicines.columns:
    df_medicines.dropna(subset=['status'], inplace=True)

    status_counts = df_medicines['status'].value_counts()

    total_medicines = status_counts.sum()
    percentage_distribution = (status_counts / total_medicines) * 100

    percentage_distribution = percentage_distribution.round(2)

    print("\nTotal active and inactive medicines:")
    print(status_counts)
    print("\nPercentage distribution of active and inactive medicines:")
    print(percentage_distribution)
else:
    print("'status' key not found in medicines data.")

'status' key not found in medicines data.